@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
      body{
        @apply bg-gray-800 
      }
      .card_inner {
        @apply relative w-full h-full cursor-pointer transition transform duration-700;
        transform-style: preserve-3d;
      }
      .card.disabled .card_inner {
        cursor: default;
      }
      .card_inner.is-flipped {
        transform: rotateY(-180deg);
      }
      .card_face {
        @apply absolute w-full h-full overflow-hidden rounded-lg p-1 border border-gray-600 select-none;
        backface-visibility: hidden;
        box-shadow: 0 3px 18px 3px rgba(0, 0, 0, 0.2);
      }
      .card_face-front .card_content {
        height: 100%;
        width: 100%;
      }
      .card_face-font {
        transform: rotateY(-180deg);
      }
      .card_face-back .card_content {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        width: 100%;
      }
      .homepage-button{
        @apply w-[150px] flex flex-col items-center bg-black rounded-xl border-white border-2 px-6 py-3 hover:opacity-80;
      }
}